<o-form #WalkLogForm attr="WalkLog_form_insert" service="WalkLog" entity="WalkLog" 
keys="id" fxLayout="column" show-header="yes" header-actions="I"
horizontal-scroll="yes"
after-insert-mode="new" class="standalone-form-container" (onInsertMode)="onInsertMode()">

<o-row attr="row1" layout-align="start stretch">
  <div fxLayout="row wrap" fxLayoutAlign="start start" fxFlex fxLayoutGap="14px">
    
        <o-integer-input #id attr="id" label=" id*" type="integer" editable="no" required="no" ></o-integer-input>
      
        <o-list-picker 
        attr="walk_schedule_id"
        service="WalkSchedule" 
        entity="WalkScheduleType"
        fxFlex="30" 
        query-on-init="no" 
        query-on-bind="yes" 
        required="no" 
        enabled="yes" 
        filter="yes"
        value-column="id" 
        value-column-type="INTEGER"  
        keys="id" 
        columns="id;walk_schedule_id;id" 
        title="walk_schedule_id"
        visible-columns="id;id" 
        separator=" - " width="680px" class="form-field">
</o-list-picker>
      
        <o-integer-input #duration attr="duration" label="duration" type="integer" editable="no" required="no" ></o-integer-input>
      
        <o-text-input #notes attr="notes" label="notes" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
        <o-integer-input #distance_walked attr="distance_walked" label="distance_walked" type="integer" editable="no" required="no" ></o-integer-input>
      
</div>
</o-row>

<div layout-padding></div>

</o-form>